body{
    background: #fafafa
}

.contestPreview.container {
    margin-top: 2.5rem;
    border: 1px solid rgba(17, 17, 17, 0.425);
    padding-left: 0 !important;
    padding-right: 0 !important;

    .categoryName {
        background-color: #e7e7e7;
        color: #0e0d0d;
        font-size: 15px;
        padding: 1rem 0 1rem 15px;
        cursor: default;
    }

    .contestName {
        padding: 1rem 0 1.4rem 15px;
        background: #fff
    }
}

.contestPreview:first-child {
    margin-top: 8rem
}