<%- include('header') %>
<<<<<<< HEAD
    <div id="root"><%- content %></div>
=======
    <div id="root"></div>
    <div>
        <%- content %>
    </div>
>>>>>>> 454ae607f39fcceb2ef147695ddbbba64a37c079
<%- include('footer') %>