body {
  background: #fafafa; }

.link {
  cursor: pointer; }

.navbar-brand {
  cursor: default; }

.contest {
  margin-top: 10.5rem; }

.contestPreview.container {
  margin-top: 2.5rem;
  border: 1px solid rgba(17, 17, 17, 0.425);
  padding-left: 0 !important;
  padding-right: 0 !important; }
  .contestPreview.container .categoryName {
    background-color: #e7e7e7;
    color: rgba(35, 37, 39, 0.884);
    font-weight: 600;
    font-size: 15px;
    padding: 1rem 0 1rem 15px; }
  .contestPreview.container .contestName {
    padding: 1rem 0 1.4rem 15px;
    background: #fff; }
  .contestPreview.container:first-child {
    margin-top: 8rem; }
